[flake8]
max-line-length = 88
max-complexity = 18
show-source = True
statistics = True
ignore =
    # Whitespace before ':'
    E203
    # Line too long
    E501
    # Line break occurred before a binary operator
    W503
per-file-ignores =
    # Imported but unused
    __init__.py: F401
