[tool.poetry]
name = "images-upload-cli"
version = "1.1.0"
description = "Upload images via APIs"
authors = ["DeadNews <uhjnnn@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/DeadNews/images-upload-cli"
repository = "https://github.com/DeadNews/images-upload-cli"
keywords = ["cli", "imgur", "image-upload", "upload-images", "upload-pictures"]
classifiers = ["Environment :: Console", "Operating System :: OS Independent"]

[tool.poetry.scripts]
images-upload-cli = "images_upload_cli.cli:cli"

[tool.poetry.dependencies]
python = "^3.8.1"
click = "^8.1.3"
pillow = "^9.5.0"
pyperclip = "^1.8.2"
python-dotenv = "^1.0.0"
requests = "^2.28.2"

[tool.poetry.group.ci.dependencies]
bandit = "^1.7.5"
black = "^23.3.0"
flake8 = "^6.0.0"
flake8-bugbear = "^23.3.23"
flake8-builtins = "^2.1.0"
flake8-comprehensions = "^3.12.0"
flake8-implicit-str-concat = "^0.4.0"
flake8-pie = "^0.16.0"
flake8-pyproject = "^1.2.3"
flake8-pytest-style = "^1.7.2"
flake8-requirements = "^1.7.7"
flake8-simplify = "^0.20.0"
flake8-unused-arguments = "^0.0.13"
flake8-use-pathlib = "^0.3.0"
isort = "^5.12.0"
mypy = "^1.2.0"
pep8-naming = "^0.13.3"
poethepoet = "^0.19.0"
safety = "^2.3.5"
types-requests = "^2.28.11.17"

[tool.poetry.group.test.dependencies]
pytest = "^7.3.1"
pytest-cov = "^4.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 99

[tool.isort]
line_length = 99
profile = "black"

[tool.flake8]
max-line-length = 99
max-complexity = 18
show-source = true
ignore = [
  "E501", # Line too long.
  "W503", # Line break occurred before a binary operator.
]
per-file-ignores = [
  "tests/*: I900", # Package is not listed as a requirement.
]

[tool.mypy]
disallow_untyped_defs = true
follow_imports = "silent"
ignore_missing_imports = true
show_column_numbers = true
show_error_codes = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = ["tests.*"]
allow_untyped_defs = true

[tool.bandit]
exclude_dirs = ["tests"]
skips = [
  "B113", # Missing requests timeout.
  "B404", # Importing subprocess.
  "B603", # Calling subprocess.Popen without shell=True.
]

[tool.pytest.ini_options]
addopts = "--verbose --cov=./src"
testpaths = ["tests"]
markers = ["docker", "slow"]

[tool.coverage.report]
exclude_lines = ["if __name__ == .__main__.:"]

[tool.poe.tasks]
isort = "isort . --check-only --diff"
black = "black . --check --diff"
mypy = "mypy ."
flake8 = "flake8 ."
bandit = "bandit -r . -c pyproject.toml"
safety = "safety check -r pyproject.toml -o bare"
ci.sequence = ["isort", "black", "mypy", "flake8", "bandit", "safety"]
pc = "pre-commit run -a"
