[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"

[tool.poetry]
name = "images-upload-cli"
version = "0.0.0"
description = "Upload images via APIs"
authors = ["DeadNews <aurczpbgr@mozmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/DeadNews/images-upload-cli"
repository = "https://github.com/DeadNews/images-upload-cli"
keywords = ["cli", "imgur", "image-upload", "upload-images", "upload-pictures"]
classifiers = ["Environment :: Console", "Operating System :: OS Independent"]

[tool.poetry.scripts]
images-upload-cli = "images_upload_cli.cli:cli"

[tool.poetry.dependencies]
python = "^3.8.1"
click = "^8.1.3"
pillow = "^9.5.0"
pyperclip = "^1.8.2"
python-dotenv = "^1.0.0"
requests = "^2.29.0"
ruff = "^0.0.264"

[tool.poetry.group.ci.dependencies]
black = "^23.3.0"
mypy = "^1.2.0"
poethepoet = "^0.19.0"
types-requests = "^2.29.0.0"

[tool.poetry.group.test.dependencies]
pytest = "^7.3.1"
pytest-cov = "^4.0.0"

[tool.poe.tasks]
ruff = "ruff check . --diff --format github"
black = "black . --check --diff"
mypy = "mypy ."
ci.sequence = ["ruff", "black", "mypy"]

[tool.poetry-dynamic-versioning]
enable = false
vcs = "git"
style = "semver"

[tool.black]
line-length = 99

[tool.mypy]
disallow_untyped_defs = true
follow_imports = "silent"
ignore_missing_imports = true
show_column_numbers = true
show_error_codes = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = ["tests.*"]
allow_untyped_defs = true

[tool.pytest.ini_options]
addopts = "--verbose --cov=./src"
testpaths = ["tests"]
markers = ["docker", "slow"]

[tool.coverage.report]
exclude_lines = ["if __name__ == .__main__.:"]

[tool.ruff]
line-length = 99
select = ["ALL"]
ignore = [
  "E501",    # Line too long
  "EXE001",  # Shebang is present but file is not executable
  "FBT001",  # Boolean positional arg in function definition
  "PLR2004", # Magic value used in comparison
  "S113",    # Missing requests timeout
  "S113",    # Missing requests timeout
  "S603",    # Calling subprocess.Popen with shell=False
  #
  "D100", # Missing docstring in public module
  "D103", # Missing docstring in public function
  "D104", # Missing docstring in public package
]

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401"]
"tests/*" = ["ANN", "D", "S"]

[tool.ruff.flake8-comprehensions]
allow-dict-calls-with-keyword-arguments = false

[tool.ruff.flake8-tidy-imports]
ban-relative-imports = "all"

[tool.ruff.mccabe]
max-complexity = 10
