FREEIMAGE_KEY=key
GYAZO_TOKEN=key
IMAGEBAN_TOKEN=key
IMGBB_KEY=key
IMGCHEST_KEY=key
IMGUR_CLIENT_ID=key
LENSDUMP_KEY=key
PIXELDRAIN_KEY=key
PTPIMG_KEY=key
SMMS_KEY=key
THUMBSNAP_KEY=key
TIXTE_KEY=key
UP2SHA_KEY=key
UPLIO_KEY=key
UPLOADCARE_KEY=key
VGY_KEY=key
